body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.content {
    max-width: 96rem;
    margin: 0 auto;
    height: 10rem;
    color: black;
    text-align: center;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
}

.description {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.blog-list {
    max-width: 96rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
}

.blog-list>* {
    flex: 1 1 20rem;
}

@media (max-width: 740px) {
    .blog-list {
        justify-content: space-around;
    }

    .content {
        margin: 100px 0;
        height: fit-content;
    }
}

@media (min-width: 741px) and (max-width:1023px) {
    .content {
        margin: 100px 0 0;
        height: 10rem;
    }

    .grid-container {
        flex-direction: column;
        align-content: space-around;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Hoặc space-around, flex-start, center tùy theo thiết kế */
    gap: 20px; /* Khoảng cách giữa các blog card */
  }

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: var(--button-bg-light);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.create-blog-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  .flex-container > a > div {
    width: 100%;
  }

.flex-container > a { 
    flex-basis: 25%;
  } 

